extends navLayout

block content
    .row
        .col-12
            h1 About Us
            hr
            p This project was made by chris and alex!!!
        .col-6
            img(src='/images/alex.jpg')
            hr
            p Alex likes cool stuff
        .col-6
            img(src='/images/Chris.jpg')
            hr
            p Chris likes memes