doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        block title
            title 365 Final Project
        block css
            link(rel='stylesheet', type='text/css', href='/css/baseStyles.css')
            link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    body
        div.container
            .spacer
            div.row
                block container
            .spacer