extends navLayout

block content
    .row    
        .col-12
            h1 Contact Us
            hr
        .col-6
            h3 Alex Peters:
            p Phone: (417) 860-1345
            p Email: aalcocerpeters@gmail.com
        .col-6
            h3 Chris Hinson:
            p Phone: (816) 510-9543
            p Email: hinsonc0513@gmail.com