extends navLayout

block content
    .row
        .col-12
            h1 Welcome to the Skate Ipsum app, #{username}!
            hr
            p   
                | Hit 'Get Skater Ipsum!' to get some skater-slang ipsum from 
                a(href='http://skateipsum.com/') skateipsum.com, 
                | and hit 'Post Tweet!' to post the first 160 chars to @mudparameter's twitter account!

            p(id='statusErr')
            p(id='statusSuccess')

            .row
                textarea.col-12(id='ipsumTextArea', rows='5', placeholder='Skater ipsum will appear here')
                button.col-6.btn.btn-dark(id='getSkaterIpsumSubmit') Get Skater Ipsum!
                button.col-6.btn.btn-light(id='tweetSubmit') Post Tweet!

            hr

            .row
                .col-12(id='meme')
                    img(src='/images/fellowLegionaries.jpg')

            script(src='/js/script.js')