extends baseLayout

block container
    .row
        .col-12
            div
                h1 Welcome to the Skate Ipsum CSC365 Final Project
                p please log in via twitter to access our app
            a(href='/auth/twitter')
                button.btn.btn-primary Log in with twitter!!!