extends baseLayout

block container
    div.col-3
        ul.nav.navbar-nav.navbar-right.navigationBar
            li
                a(href='/') Home
            li
                a(href='/about') About
            li 
                a(href='/contact') Contact us
    div.col-9
        block content
