body {
    background-color: #21618C !important;
    color: white !important;
}

.spacer {
    margin-top: 2%;
}

.navigationBar a {
    font-size: 20px;
    color: white;
    display: block;
}

.navigationBar a:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    padding-right: 25%;
    border-radius: 5px;
}

hr {
    color: white;
    border-color: white;
    background-color: white;
}

#meme {
    justify-content: center;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 15px;
}

#statusErr {
    color: red;
    text-align: center;
}

#statusSuccess {
    color: rgb(0, 212, 0);
    text-align: center;
}